<div class="details-wrap container">
    <h1 class="lato text-center mb-5">Virtual Reception</h1>
    <h2 class="lato text-center">Link to Livestream</h2>
    <div class="row">
        <div class="col text-center">
            <a class="lato text-center" href="https://youtu.be/YV9hWrAi_9c">Watch Live</a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <h2 class="lato text-center">Virtual Guest Book</h2>
            <p class="lato">We’re so excited to be getting married! We will be responding to chats from the livestream from 7:00 - 7:45 MDT and then will film the remainder of the reception until 9:00.
            <br>
            Leave us a video in our virtual guestbook! (you will need google or microsoft account):</p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <a class="lato text-center" href="https://flipgrid.com/andrew8854" target="_blank">Virtual Guestbook (Flipgrid)</a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <p>The live stream is best viewed from a computer or laptop but if you choose to use your phone you will need to download the “Youtube” app to use the chat function of the livestream and download the “Flipgrid” app to leave a 90 second video in our virtual guestbook! (on a computer no downloads are necessary)</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-6 text-center">
            <img src="../../../assets/images/ben1.png" height="350px" alt="">
            <p>#1 Exit out of the chat function. Holding your phone vertically should let you press that little “x” on the right.</p>
        </div>
        <div class="col-sm-6 text-center">
            <img src="../../../assets/images/ben2.png" height="350px" alt="">
            <p>#2 After exiting the chat click on the small down arrow to open up the videos description.</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-6 text-center">
            <img src="../../../assets/images/ben3.png" height="350px" alt="">
            <p>#3 Look for the link to flipgrid and click on it to leave us a video for our virtual guestbook! *note that you will need to download the flipgrid app and sign in if you are doing this on your phone*</p>
        </div>
        <div class="col-sm-6 text-center">
            <img src="../../../assets/images/ben4.png" height="350px" alt="">
            <p>#4 After leaving us a video click on Live Chat to return to the chat feature of the livestream! Thank you!</p>
        </div>
    </div>
</div>
