<header id="header">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-3 col-md-2 col-lg-1 text-center"><a class="raleway" href="/details">Details</a></div>
            <div class="col-3 col-md-2 col-lg-1 text-center"><a class="raleway" href="https://www.amazon.com/wedding/share/emileeandben" target="_blank">Registry</a></div>
            <div class="col-3 col-md-2 col-lg-1 text-center"><a class="raleway" href="https://forms.gle/TXn3G4ecyNaB7aJU7" target="_blank">RSVP</a></div>
        </div>
    </div>
</header>